
body{
	margin:0;
	background-color:#393332;
	font-family: Arial, Microsoft JhengHei;
	width: 100%;
}

.header .logo{
	float:left;
	margin:3vh 0 0 3vw;
}
.header .logo img{
	width:42vh;
}
.header .loginInfo{
	float:right;
	margin:3vh 3vw 0 0;
	font-family: Arial, Microsoft JhengHei;
	color:#E79550;
	font-weight: bold;
}
.header .loginInfo div{
	font-size:12pt;
	color:#E79550;
	margin: 1vw 1vw 2vh 0;
}
.header .banner , .footer .footerTop{
	width:100%;
	height:1.5vh;
	background-color:#E79550;
	overflow:auto;
}
.body{
	text-align:center;
	width:100%;
	min-width:1000px;
	overflow:auto;
	margin:0;
}
.body .nav{
	float:left;
	width:10%;
	min-width:100px;
}
.body .nav p a{
    color: #F9E7AA;
	text-decoration: none;
    font-size: 12pt;
}
.body .bodyRight{
	width:87%;
	min-width:880px;
	float:right;
	background-color: #fff;
	
}
.footer{
	width: 100%;
}
.positionFix {
	position: fixed;
	bottom: 0;
}